.env
*.sqlite
*.sqlite3
*.db
*.db-journal
*.db-wal
*.db-shm
graphs/
local_diaries/
secrets.*
*.log
tmp/
screenshots/tmp/
gui-settings/
tests/__pycache__/
conatus_engine/__pycache__/
conatus_engine/conatus_engine/data/__pycache__